<% provide(:title, "YankeDonuts.ie") %>
<% provide(:page_title, "YankeDonuts.ie") %>


<h1>Contact</h1>
<p>Address: 96 rathmines road lower
Dublin, Ireland</p>
<p>Call <a href="tel:+353 1 516 1352">+353 1 516 1352</a></p>
