<% provide(:title, "Kontaktai") %>
<% provide(:seo_title, "Kontaktai") %>
<% provide(:page_title, 'Kontaktai') %>
<div class="welcome">



	<p>Rekvizitai ir kontaktų duomenys.</p>


</div><!-- .welcome -->
