<% provide(:title, "Šildymo sistemų montavimas, katilinės įrengimas Vilniuje ir visoje Lietuvoje") %>
<% provide(:page_title, "Šildymo sistemų montavimas, katilinės įrengimas Vilniuje ir visoje Lietuvoje") %>

<p>Pradinis puslapis Susy framework</p>

<p>&nbsp;</p>
<script>
</script>
