<% provide(:title, "Šildymo sistemų montavimas, katilinės įrengimas Vilniuje ir visoje Lietuvoje") %>
<% provide(:page_title, "Šildymo sistemų montavimas, katilinės įrengimas Vilniuje ir visoje Lietuvoje") %>

<p>Plumbing.lt® mūsų ilgametė šildymo sistemų montavimo patirtis rekomenduoja
prieš atliekant bet kokį darbą būtinai pasikonsultuoti su profesionalais. Į mus,
profesionalus, turinčius daugiau nei 15 metų patirties galite kreiptis
visais santechnikos, šildymo, vėsinimo ar vandentiekio klausimais, Vilniuje ir
visoje Lietuvoje, telefonu +370 606 29533.</p>
<p>Dirbame nedideliuose, privačių gyvenamųjų butų objektuose ir dalvaujame
stambiuose pramoniniuose ar gyvenamųjų namų renovacijos užsakymuose.</p>
<%= image_tag "sildymo-sistemu-montavimas.jpg", id: 'geriausi' %>
<p>Esami ir buvę mūsų klientai jau žino, kad taupome laiką ir pinigus ne
tik dabartiniu metu, įsirenginėjant naują arba renovuojant seną techniką,
bet ir ateičiai sutaupysime išlaidos ir priežiūros kaštus.</p>
<h2>Kodėl mes?</h2>
<p>Mes siūlome visą santechnikos darbų servisą, Plumbing.lt ®: konsultacijas,
santechnikos komponentų įsigijimą, pristatymą.</p>
<p>Kas svarbiausia yra atliekami ir tokie darbai, kaip:</p>
<ul>
<li>Santechnikos montavimas, paleidimas, kokybės patikrinimas,</li>
<li>Katilinės įrengimas,</li>
<li>Šildomų grindų montavimas, standartinės šildymo sistemos montavimas</li>
<li>Akumuliacinės šildymo sistemos įrengimas. Akumuliacinių talpų gamyba, pajungimas,</li>
<li>Geoterminis šildymas, šildymo katilai, kieto kuro katilai,</li>
<li>Šildymo katilų parinkimas, pristatymas, pajungimas.</li>
</ul>
<p>Jeigu šiuo metu esate nepatenkinti jau atliktais kitų kompanijų vykdytais
darbais, mūsų meistrai greitai, kokybiškai padės išspręsti šias problemas.
Visiems atliktiems darbams suteiksime garantiją.</p>
<p>Taip pat patikėję darbus Plumbing.lt ® galėsite tikėtis ne tik žemiausių
kainų, bet ir aukščiausios kokybės atliekamų paslaugų.</p>
<p>Tad kiekvienam iš Jūsų galime pasiūlyti tokius, atsakingai atliktas,
paslaugas kaip: šildymo sistemų įrengimas, granuliniu katilų pardavimas,
akumuliaciniu šildymo sistemų įrengimas,kieto kuro katilų pajungimas,skysto kuro
katilu montavimas, dujiniu katilų montavimas, granuliniu katilinių įrengimas,
šildomu grindų įrengimas,radiatorių pajungimas</p>
<p>Teikiami dar ir tokie santechnikos darbai:</p>
<ul>
<li>Dirbame su saulės kolektoriais, montuojame ir paleidžiame pilną šildomąją
vandens sistemą. Mūsų įrenginėjamos saulės kolektorių sistemos padengia apie
60% šilumos energijos poreikių karštam vandeniui ir namų šildymui per metus.
Šiltuoju laikotarpiu saulės kolektoriai patenkina karšto vandens poreikį 100%.</li>
<li>Kieto kuro katilinės įrengimas Plumbing.lt ® įmonės darbuotojai atlieka
visus darbus, ar tai būtų standartinė kieto kuro katilinė skirta butui, ar
pažangi ir automatizuota kieto kuro katilinė skirta nuosavam namui ar pramoniniam
objektui. Mūsų specialistų komanda ne tik atliks visus kieto kuro katilines
įrengimo darbus, bet ir padės išsirinkti pačią pažangiausią, ekonomiškiausią
ir saugiausią kieto kuro šildymo sistemą.</li>
<li>Sieniniai, pastatomieji, su injekciniais ir ventiliatoriniais degik­liais ir
įvairaus sudėtingumo dujinių katilų montavimas: ar tai būtų paprasta dujinio
šildymo sistema, ar ilgesnį laiką be priežiūros galinti veikti automatizuota
šildymo sistema.</li>
<li>Akumuliacinių šildymo sistemų montavimas – tai daug žinių ir patirties
reikalaujantis procesas, Patikėdami akumuliacinės šildymo sistemos montavimo
darbus mūsų Plumbing.lt ® specialistų komandai, Jūs užsitikrinsite savo šildymo
sistemos ilgalaikį ir nenutrūkstamą veikimą bei ženkliai sumažinsite
eksploatavimo kaštus.</li>
<li>Šildymo sistemos renovacija ir mūsų teikiamos paslaugos, prieš pradedant
šilumos sistemos renovaciją, mūsų specialistai nuodugniai išsiaiškins su
užsakovu visus jo poreikius bei lūkesčius, nes tai leis pasiūlyti klientui patį
optimaliausią šildymo sistemos renovavimo būdą, kuris pilnai patenkins
keliamus kliento reikalavimus bei maksimaliai taupys energijos bei
eksploatacijos išlaidas.</li>
</ul>
<p>Santechnikos darbai Vilniuje ir visoje Lietuvoje atliekami naudojant
profesionalią įrangą ir kokybiškas santechnikos medžiagas. Kliento pasitikėjimui
įgyti, suteikiama garantija.</p>
<p>Tad jeigu Jums yra reikalingos santechnikos ekspertų paslaugos, skambinkite
Plumbing.lt® šios srities specialistams.</p>

<p>&nbsp;</p>
<script>
</script>
