<% provide(:title, "YankeDonuts.ie") %>
<% provide(:page_title, "YankeDonuts.ie") %>
<% provide(:body_class, "menu") %>


<h1>Menu</h1>

      <!-- menu items -->
      <div class="menu-item">
        <div class="menu-item-left">
        	<div class="menu-flag">
        		<div class="menu-flag-inside">
        			<h2>Strawberry White Chocolate</h2>
        		</div>
        	</div>
			<%= image_tag 'menu/menu1.jpg', alt: "Yankee Donuts" %>
        </div>
        <div class="menu-item-right">
			<div class="content">
				<p>fkjaldjfalsjfdklasjdfkla</p>
				<p>sdflkajsdlfasfjalfsjdj</p>
			</div>
        </div>
      </div>
     

      <!-- #menu items -->

