<% provide(:title, "YankeDonuts.ie") %>
<% provide(:page_title, "YankeDonuts.ie") %>
<% provide(:body_class, "menu") %>


<h1>Menu</h1>
<% @donuts.each do |donut| %>
	<!-- menu items -->
	<div class="menu-item">
	<div class="menu-item-left">
		<div class="button">
			<div class="button-inner">
				<a href="https://www.just-eat.ie/restaurants-yankeedonuts-rathmines/menu" class="order-now"></a>
			</div>
		</div>
		<div class="menu-flag">
			<div class="menu-flag-inside">
				<h2><%= donut.title %></h2>
			</div>
		</div>
		<%= image_tag donut.photo.url(:slide_gallery), alt: "Yankee Donuts" %>
	</div>
		<div class="menu-item-right">
			<div class="content">
				<%=raw donut.description %>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
	
 <% end %>    
	
      <!-- #menu items -->


      <p class="more">To view full list of our donuts or to order please click <a class="more" href="https://www.just-eat.ie/restaurants-yankeedonuts-rathmines/menu">Order Now!</a></p>

      


