<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Naujas laiškas iš 'plumbing.lt'</h1>
    <p>
      Gauta iš <%= @email %>.<br>
      Telefono numeris <%= @phone %>.<br>
      Tekstas:<br>
      "<%= @message %>"
    </p>
  </body>
</html>
