<% provide(:title, @user.name) %>
<% provide(:page_title, 'Administration panel' ) %>

<div class="row">
  <aside class="col-md-4">

    <section class="pultas">
      <p><a href="/donuts">Donuts's management</a><br>
      <br>
      <br>
      <%= link_to 'Logout', logout_path, method: "delete", class: 'valdymas-btn btn btn-danger', title: 'Leave administration panel' %>
    </section>
  </aside>
</div>
