			<nav id="menu">
				<div class="left-side">
					<a href="/">Home</a>
					<a class="last" href="/menu">Menu</a>
				</div>
				<div class="right-side">
					<a href="/events">Events</a>
					<a class="second" href="#">Delivery</a>
					<a class="last" href="/contact">Contact</a>
				</div>
			</nav>



	