			<nav>
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="#">Menu</a></li>
					<li><a href="#">Events</a></li>
					<li><a href="#">Delivery</a></li>
					<li><a href="/contact">Contact</a></li>
				</ul>
			</nav>



	