    <section id="slide">
      <%= nivo_slider id: "slider" do %>
        <%= image_tag "slides/slide1.jpg", alt: "A very nice photo!" %>
        <%= image_tag "slides/slide2.jpg", alt: "A very nice photo!" %>
        <%= image_tag "slides/slide3.jpg", alt: "A very nice photo!" %>
      <% end %>
    </section>