<footer>
  <div class="footer">
	<article>
		<div class="row">
			<div class="col-md-4">
				<h2>Naudinga informacija</h2>
			</div>
			<div class="col-md-4">
				<h2>Contacts</h2>
				<p><%= link_to "Contacts", '/contacts' %></p>
			</div>
			<div class="col-md-4">
				<h2>Socialiniai tinklai</h2>
			</div>
		</div>

	</article>
	<div class="copyright"><p><a href="http://www.vjwebdesign.co.uk" target="_blank">Web design</a> &copy; <%= Time.now.year %> VJ Web</p></div>
	</div><!--#footer-->
</footer>
