<footer>
  	<div class="footer">
		<div class="footer-inner">
			<div class="footer-inner-content">
				<div class="footer-inner-1">
					<a href="/" id="footer-logo"></a>
				</div>
				<div class="footer-inner-2">
					<p class="address">96 Rathmines Road Lower Dublin 6</p>
					<p>Weekdays - 8am to 8pm <br>
					Weekends - 11am to 8pm</p>
				</div>
				<div class="footer-inner-3 last">
					<p class="phone"><a href="tel:01 516 1352">(01) 516 1352</a></p>
					<p class="email">y.donutz@gmail.com</p>
				</div>
			</div>
	
		</div>
	</div><!--#footer-->
</footer>
