<footer>
  <div class="footer">
	<article>


	</article>
	<div class="copyright"><p><a href="http://www.vjwebdesign.co.uk" target="_blank">Web design</a> &copy; <%= Time.now.year %> VJ Web</p></div>
	</div><!--#footer-->
</footer>
