<footer>
  <div class="footer">
	<article>
		<div class="row">
			<div class="col-md-4">
				<h2>Naudinga informacija</h2>
				<p><%= link_to "Partneriai", "/partneriai", alt: 'Partneriai ir draugai' %></p>
			</div>
			<div class="col-md-4">
				<h2>Contacts</h2>
				<p><%= link_to "Contacts", '/contacts' %></p>
			</div>
			<div class="col-md-4">
				<h2>Socialiniai tinklai</h2>
			</div>
		</div>

	</article>
	<div class="copyright"><p><a href="http://www.svetainiuekspertai.lt" target="_blank">Svetainių kūrimas</a> &copy; <%= Time.now.year %> simpanze.lt</p></div>
	</div><!--#footer-->
</footer>
